{{!-- shows one greenWay --}}
<div class="content">
<header>
    {{!-- list of greenWay information --}}
    <ul>
<li><h1>Green Method: {{greenWay.wayToBeGreenName}}</h1></li>
<li><h4>Green Hours:{{greenWay.timeItTakes}} hours</h4></li>
<li><h4>Green Task: </br>{{greenWay.whatToDo}}</h4></li>
</ul>
</header>
<main>
<form action="/greenWays/{{greenWay.id}}?_method=put" method="POST">
    <p>Name of Green Method:</p><input type="text" name="wayToBeGreenName"></br>
    <p>Hours it Takes: </p><input type="number" name="timeItTakes"></br>
    <p>What to Do:</p><input type="text" name="whatToDo" class="biggerInputBox"></br>
{{!-- Update Button --}}
    <input type="submit" value="Update GreenWay" class="button">
</form>
<form action="/greenWays/{{greenWay._id}}?_method=delete" method="POST">
{{!-- delete Button --}}
<input type="submit" value="Delete GreenWay" class="button">
</form>
</main>
</div>