{{!-- shows one saveTip --}}
<div class="content">
<header>
    {{!-- list of saveTip information --}}
<ul>
<li><h1>Green Saving Method: {{saveTip.wasteReducedName}}</h1></li>
<li><h4>Green Savings: ${{saveTip.monthlySavings}}</h4></li>
<li><h4>Green Hours:  {{saveTip.timeItTakes}} hours</h4></li>
<li><h4>Green Saving Technique: </br>{{saveTip.whatToDo}}</h4></li>
</ul>

</header>
<main>
<form action="/saveTips/{{saveTip.id}}?_method=put" method="POST">
    <p>Waste Reduction Method Name:</p><input type="text" name="wasteReducedName"></br>
    <p>Monthly Savings:</p><input type="number" name="monthlySavings"></br>
    <p>Hours it Takes:</p><input type="number" name="timeItTakes"></br>
    <p>What to Do:</p><input type="text" name="whatToDo" class="biggerInputBox"></br>
{{!-- Update Button --}}
    <input type="submit" value="Update saveTip" class="button">
</form>
<form action="/saveTips/{{saveTip._id}}?_method=delete" method="POST">
{{!-- delete Button --}}
<input type="submit" value="Delete saveTip" class="button">
</form>
</main>
</div>